# folders with data
cropped_people/
mapillary_images/
data/
local_optimisations/
models/
logs/

# dependencies
# node-modules for the Point-Cloud: run npm isntall @cosmos.gl/graph
node_modules/

.svelte-kit/
.svelte-kit/ambient.d.ts
.svelte-kit/non-ambient.d.ts