services:
  mapillary-pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    # The default command from your run_pipeline script
    command: python -m pipelines.run_mapillary_pipeline
    env_file:
      - .env
    volumes:
      # Mount the output directory to your host machine
      - ./cropped_people:/app/cropped_people
      # Mount the app code
      - .:/app
      # NEW: Mount a host directory to persist the SQLite database
      - ./data:/app/data