# Mapillary Pipeline
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
ultralytics
mapillary
ultralytics
opencv-python-headless
requests

# Database & Config
psycopg2-binary
python-dotenv